@model DXWebApplication1.Models.UserModel
    @{
    Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <title>Login</title>
    </head>
    <body>
     @using (Html.BeginForm())
     {
         @Html.TextBoxFor(m => m.username, new { @placeholder = "Username" })
      @Html.PasswordFor(m => m.password, new { @placeholder = "Password"})
        <input type="submit" value="Sign In">
     }
        </body>
        </html>
